header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  transition: transform 0.2s ease-in-out;
  z-index: 100;
}

.header-desktop-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 8em 0.5em 8em;
}

.header-desktop-container img{
  height: 40px;
}

.header-desktop .header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header-menu-item{
  margin-left: 20px;
}

.header-menu-icon-block{
  display: block;
  cursor: pointer;
}

.header-menu-icon-none{
  display: none;
  cursor: pointer;
}

.header-menu-link {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.header-mobile-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-mobile-menu-item{
  margin-bottom: 10px;
}

a:hover {
  color: #ffa500;
  text-decoration: underline;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #495e57;
  margin-top: 4em;
  margin-bottom: 0.5em;
  padding: 2em 8em 2em 8em;
}

.hero-container img{
  height: 100%;
  width: 220px;
  border-radius: 16px;
}

.hero-description {
  display: flex;
  flex-direction: column;
}

.hero-description h2{
  color: #F4CE14;
}

.specials-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 8em 0.5em 8em;
}

.specials-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
  font-family: Markazi Text, serif;
  font-weight: bold;
  font-size: 25px;
}

.specials-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.specials-card-container {
  max-width: 300px;
  height: 500px;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #edefee;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}

.specials-card-container img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.specials-card-container-content {
  flex: 1;
  padding: 1em;
}

.specials-card-container-content div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}

.specials-card-container-content div h3 {
  font-size: 18px;
  font-weight: bold;
}

.specials-card-container-content div span {
  font-size: 16px;
  font-weight: bold;
  color: #ee9972;
}

.specials-card-container-content p {
  color: black;
  font-size: 16px;
  margin-bottom: 16px;
}

.specials-card-container-content button {
  background-color: #f4ce14;
  color: black;
  border: none;
  border-radius: 16px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.testimonials-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ee9972;
  margin-top: 0.5em;
  padding-left: 8em;
  padding-right: 8em;
}

.testimonials-container h2 {
  font-family: Markazi Text, serif;
  font-size: 2.5em;
  font-weight: bold;
  justify-content: center;
}

.testimonials-container-cards {
  display: flex;
  justify-items: center;
  gap: 1rem;
  height: auto;
  width: auto;
}

.testimonials-individual-card-container {
  min-width: 300px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  overflow: hidden;
  border-radius: 16px;
  margin-bottom: 2rem;
}

.testimonials-individual-card-name{
  display: flex;
  align-items: center;
}

.testimonials-individual-card-name p{
  color: black;
  font-weight: bold;
}

.testimonials-individual-card-name img{
  border-radius: 30px;
  width: 150px;
  height: 150px;
  margin: 20px;
}

.testimonials-individual-card-review p{
  color: black;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #495e57;
  padding: 4em 8em 4em 8em;
}

.about-header {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 10%;
}

.about-header h2 {
  color: #f4ce14;
}

.about-header h3,
p {
  color: white;
}

.about-chef-image {
  display: flex;
}

.about-chef-image img {
  height: 100%;
  width: 300px;
  margin-right: 1em;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ddd;
  padding-left: 8em;
  padding-right: 8em;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ddd;
  width: 100%;
  padding: 4em 8em 4em 8em;
}

.footer-links-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.footer-links {
  color: #333;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
}

.footer-column {
  list-style-type: none;
  padding: 0;
}

.copyright {
  padding: 10px 0;
  text-align: center;
  margin-top: 20px;
}

button{
  background-color: #F4CE14;
  color: black;
  height: 50px;
  width: 200px;
  padding: 5px 15px;
  border-radius: 16px;
  outline: 0;
  border: 0;
  text-transform: uppercase;
  margin: 10px 10px;
  cursor: pointer;
  box-shadow: 0px 2px 2px lightgray;
}