.container {
  display: grid;
  justify-items: center;
  row-gap: 2px;
  grid-template-areas:
    "header"
    "hero"
    "specials"
    "testimonials"
    "about"
    "footer";
}

.header {
  grid-area: header;
  width: 100%;
  height: 4fr;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.hero {
  grid-area: hero;
  width: 100%;
  height: 4fr;
  padding-top: 80px;
}

.specials {
  grid-area: specials;
  width: 100%;
  height: 4fr;
}

.testimonials {
  grid-area: testimonials;
  width: 100%;
  height: 4fr;
}

.about {
  grid-area: about;
  width: 100%;
  height: 4fr;
}

.footer {
  grid-area: footer;
  width: 100%;
  height: 4fr;
}